* {
  padding: 0;
  margin: 0;
}

div {
  position: static;
  display: block;
}

#gameArenaDiv {
  margin-top: 50px;
}

#canvasGameArea {
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  background: #eee;
}

#navigationDiv {
  position: static;
  margin-top: 30px;
  text-align: center;
}

#scoreDiv {
  margin: 10px 0;
}

#scoreInput {
  ;
}

#startDiv {
  margin: 10px 0;
}

#speedDiv {
  margin: 10px 0;
}